################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Advent25/.vs/Advent25
/src/Advent25/bin/Debug/net8.0
/src/Advent25/obj
